allow vendor_init tombstone_data_file:dir { getattr };
allow vendor_init init_service_status_private_prop:file { read };
allow vendor_init vendor_dpmd_data_file:dir { add_name create getattr setattr write };
allow vendor_init system_data_file:lnk_file { create };
allow vendor_init vendor_seemp_data_file:dir { getattr };
